* {
    border: none;
    border-radius: 0;
    font-family: 'SF Pro Display Bold';
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #FFC061;
    color: #F1F1F1;
}

tooltip {
    background: #202020;
    border-radius: 0px;
}

#workspaces button {
    padding: 5px;
    color: #F1F1F1;
}

#workspaces button.active {
    background-color: #E16B53;
}

#workspaces button.focused {
    color: #F1F1F1;
    background: #202020;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #F1F1F1;
    background: #202020;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #F1F1F1;
    color: #202020;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#language,
#backlight {
    background: /*#F6821E*/ #8C7C73;
    padding: 0px 5px;
    margin: 0px;
}

#tray {
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    color: #F1F1F1;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #F1F1F1;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #F1F1F1;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #F1F1F1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    color: #F1F1F1;
    background-color: #F59251;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    margin-right: 60px;
}

#clock {
    color: #F1F1F1;
    margin-left: 0px;
    border-right: 0px;
    padding: 0px 10px;
}
#network {
    color: #F1F1F1;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #F1F1F1;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #F1F1F1;
    margin-right: 5px;
}

#battery {
    color: #F1F1F1;
    margin-right: 0px;
    border-left: 0px;
}

#custom-weather {
    color: #F1F1F1;
    border-right: 0px;
    margin-left: 0px;
}

#language {
    border-radius: 0px 0px 0px 0px;
    padding-right: 10px;
    margin: 0px;
    margin-left: 0px;
}
